[extensions]
largefiles =
eol =
purge =

[diff]
git = True

[tortoisehg]
graphopt = True

[format]
aggressivemergedeltas = yes

[experimental]
maxdeltachainspan = 500MB

[auth]
ono.username = $ONO_USER
ono.password = $ONO_KEY